/* *, *:before, *:after {
    box-sizing: border-box;
  } */


h1{
    text-align: center;
    background-image: linear-gradient(to right, blue , black);
    color: white;
    padding: 1.0rem;
    margin: none;
    max-width: 100%;
} 

#today{
    border: black solid 1px;
}

#search-button{
    border: black solid 1px;
    background-color: grey;
    
}


/* aside{
    width: 256px;
    text-shadow: left;
} */



